.list-card
{
    overflow: hidden;
}
.list-card-labels
{
    display: block;
    margin: 0!important;
}
.list-card-labels .card-label
{
    font-size: 9pt;
    font-weight: normal;
    line-height: 18px!important;
    height: inherit!important;
    margin-right: 0.2em;
    padding: 0 0.5em!important;
    text-align: center;
    text-shadow: rgba(0, 0, 0, .1) 0 0 5px, rgba(0, 0, 0, .2) 0 0 2px;
    width: auto!important;
    display: inline!important;
    text-overflow: inherit!important;
}

.card-label.mod-card-front {
    max-width: none!important;
}
